@font-face {
    font-family: head;
    src: url(./sf-pro-display_bold.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: head , Helvetica, sans-serif;
}
html,body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
}
main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.page1{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: burlywood; */
}
.page1in{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 5;
    /* background-color: red; */
}
.page1in .pg1-title{
    width: fit-content;
    height: auto;
    position: absolute;
    bottom: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    /* background-color: red; */
}
.page1in .pg1-title h2{
    font-size: 1.4vw;
    color: rgba(255, 255, 255, 0.769);
    margin-bottom: 1.4vw;
}
.page1in .pg1-title img{
    width: 26vw;
    height: 6vmax;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vw;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}
nav .navin{
width: 65%;
height: 100%;
}
nav .navp1{
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.769);
    font-weight: 100;
}
nav .nav-icons{
    width: 4vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
nav .nav-icons h4:last-child{
    display: none;
}
.navp1 h5,
.navp1 h4{
    opacity: 1;
    font-weight: 100;
}
.navp1 img{
    opacity: 1;
    height: 21px;
    width: 21px;
}
nav .navp2{
    width: 100%;
    height: 60%;
    padding: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .navp2 h3{
    opacity: 1;
    font-size:21px;
    font-weight: 900;
    color: white;
}
nav .navp2 button{
    padding: 5px 9px;
    border-radius: 50px;
    border: none;
}
#videoContainer1{
    position: absolute;
    top: -40%;
    width: 190%;
    height: 190%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: salmon; */
}
#video1{
    /* position: absolute; */
    width: 45%;
    height: 100%;
    object-fit: cover;
    object-position: left 50% top 30%;
}

.page2{
    width: 100%;
    height: 100vh;
    /* background-color: salmon; */
}
.page2in{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.pg2overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
}
.videoContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: red; */
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.h1{
    position: absolute;
    width: fit-content;
    height: auto;
    text-align: center;
    bottom: 20%;
    z-index: 5;
    opacity: 0;
}
.h1 h1{
    font-size: 3vw;
    color: white;
}
.page3{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}
.page3in{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.pg3overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity:1;
}
.page4{
    width: 100%;
    height: 100vh;
    /* background-color: blanchedalmond; */
}
.page4in{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.pg4overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:1;
}
.page5{
    width: 100%;
    height: 100vh;
    /* background-color: cadetblue; */
}
.page5in{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.pg5overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:1;
}

.page6{
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background-color: white;
    overflow: hidden;
}
.page6in{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 12vw;
    }
.pg6overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:0;
}
.pg6Content{
    position: relative;
    width: 100%;
    height:15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2vw;
    /* background-color: red; */
}
.pg6Content img{
    top: 10%;
    width: 30vw;
    height: 5vw;
    z-index: 1;
    margin-bottom: 3vw;
}
.pg6Content h2{
    bottom: 10%;
    color: #FF5A00;
    z-index: 1;
    margin-bottom: 2vw;
}
.pg6Content i{
    margin-left: 0.5vw;
    z-index: 1;
    color: #FF5A00;
}
.pg6Content p{
    bottom: 0;
    width: fit-content;
    height: auto;
    font-size: 1.4vw;
    font-weight: 900;
    z-index: 1;
    margin-bottom: 0.5vw;
    color: #86868B;
}
.pg6imgdiv{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}
.pg6btn{
    padding: 1vw 3vw;
    margin-top: 1.5vw;
    border: solid black 2px;
    border-radius: 50px;
    background-color: white;
}
.pg6btn h2{
  font-weight: 300;
}

/* Page7 Styles staticPage */
.page7{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
/* page8 styles staticPage */
.page8{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
#pg8Contentp1 h1{
 width: 65%;
}

/* page9 styles staticPage */
.page9{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

/* page10 styles staticPage */
.page10{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
#pg10Contentp1 h1{
    width: 70%;
}

/*👇 Following are the Comman styles for the static pages*/

#staticpagein{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    }

#staticpgoverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.5);
    opacity:1;
}
#staticpagein .h1{
    position: absolute;
    width: 60%;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#staticpagein .h1 h1{
  font-size: 5.2vw;
  line-height: 6vw;
  font-weight: 1000;
  white-space: nowrap;
}
#staticpagein .h1 h2{
    color: white;
    font-weight: 900;
}
.staticpgContent{
    width: 100%;
    height: 30vw;
    padding: 6vw 10vw;
    background-color: white;
}
.staticpgContentin{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
.staticpgContentinp1{
    width:40%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    /* background-color: salmon; */
}
.staticpgContentinp1 h1{
    width: 55%;
}
.staticpgContentinp2{
    width:60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* background-color: rebeccapurple; */
}
.staticpgContentinp2 p{
    width: 85%;
    color: #86868B;
    font-size: 1.4vw;
    font-weight: 900;
}
.orangebtn{
    padding: 0.7vw 1.9vw;
    margin-top: 3.5vw;
    border: none;
    border-radius: 50px;
    background-color: #FF5A00;
}
.orangebtn h2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 5  00;
}
.orangebtn h2 i{
  font-size: 1.9vw;
  font-weight: 400;
}

/* page11 styles */
.page11{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #F5F5F7;
}
.pg11Content{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 7vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: yellow; */
}
.pg11Content h3{
   font-size: 1.5vw;
   margin-bottom: 1vw;
}
.pg11Content h1{
   font-size: 5vw;
   font-weight: 1000;
   margin-bottom: 3vw;
}
.pg11Content p{
    width: 50%;
    line-height: 2vw;
   font-size: 1.5vw;
   color: #86868B;
}

/* page12 Styles */
#page12{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F7;
    overflow: visible;
}
#page12>img{
    position: absolute;
    z-index: 11;
    transform: scale(1.2);
}

/* Canvas Styles */
canvas{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    /* background-color: burlywood; */
}
#canvas1{
    transform: scale(1.3);
}
.canvasbgpgs{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F5F5F7;
}
.canvasbgpgs span{
    color: black;
}
#lefth3{
    position: absolute;
    font-size: 1.3vw;
    line-height: 1.6vw;
    left: 10%;
    top: 50%;
    transform: translate(0,-50%);
    width: 15%;
    z-index: 16;
    color: #9A9A9F;
}
#righth3{
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translate(0,-50%);
    width: 15%;
    font-size: 1.3vw;
    z-index: 16;
    color: #9A9A9F;
}

.page19{
    position: relative;
    width: 100%;
    min-height: 200vh;
    background-color: white;
   
}
.page19in{
    position: absolute;
    width: 100%;
    height: 200vh;
    background-color:white;
    z-index: 15;
    overflow: hidden;
}
.pg19inp1{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pg19inp1a{
    width: 45%;
    height: 90%;
}
.pg19inp1a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.pg19inp1b {
    padding-bottom:7vmax;
    width: 45%;
    height: 90%;
}
.pg19inp1b img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.pg19inp2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#pg19videoContainer{
    width: 93%;
    height: 93%;
}
.page20{
    position: relative;
    width: 100%;
    min-height: 180vh;
    /* background-color: red; */
}
.pg20in{
    position: absolute;
    width: 100%;
    min-height: 180vh;
    background-color:white;
    z-index: 15;
    overflow: hidden;
}
.pg20inp1{
    width: 100%;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.pg20inp1 h3{
    color: #9A9A9F;
    width: 45%;
    text-align: center;
    line-height: 2vw;
    font-size: 1.4vw;
}
.pg20inp1 span{
    color: black;
}
.pg20inp2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pg20inp2 button{
    position: absolute;
    bottom: 10%;
}
.pg20inp2 img{
  width: 70vw ;
  height: 58vw;
}

.page21{
    width: 100%;
    min-height: 100vh;
}
.page21in{
    background-color: white;
}
.page21 .staticpgContentinp1 h1{
    width: 70%;
}
.pg21overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:0;
}
.page22{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.page22imgdiv{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}
.page22img1{
    width: 45%;
    height: 90vh;
    /* background-color: beige; */
}
.page22img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.page22img2{
    width: 45%;
    height: 90vh;
}
.page22img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
}
.page22 .staticpgContent{
   height: 20vw;
}
.page23{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8vmax;
    object-fit: contain;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next ,.swiper-button-prev{
    color: white;
    font-size: 2vw;
    color: black;
    font-weight: 900;
    margin: 0 2vw;
  }
  .pg23Content h1{
    font-size: 2vw;
  }
  .pg23Content p{
    width: 75%;
  }
  .page24{
    width: 100%;
    height: 100vh;
  }
  .pg24Content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .pg24Content h3{
    font-size: 2vw;
    margin-bottom: 1.7vw;
    color: white;
  }
  .pg24Content h1{
    color: white;
    font-size: 5.5vw;
    line-height: 5.5vw;
  }
  .pg24Content span{
    color: white;
  }
  .pg24Content p{
    margin-top: 3vw;
    font-size: 1.5vw;
    width: 51%;
    color: #86868B;
    line-height: 1.9vw;
  }

  .page25{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
  }

  #canvas2{
    transform: scale(0.6);
    top: 0;
  }
  .pg25Content{
    position: absolute;
    bottom: 5%;
    width: 50%;
    height: 15vw;
    text-align: center;
  }
  .pg25Content h1{
    color: white;
    font-size: 2.1vw;
    margin-bottom: 2vw;
  }
  .pg25Content h3{
    color: #86868B;
    font-size: 1.5vw;
    margin-bottom: 2vw;
  }
  .pg25Content span{
    color: white;
  }
  .page26{
    position: relative;
    width: 100%;
    height: 150vh;
  }
  .pg26Content{
    position: absolute;
    right: 5%;
    top: 50%;
    width: 30%;
    height: 40vw;
    /* background-color: red; */
  }
  .pg26Content h1{
    color: white;
    font-size: 2vw;
    line-height: 2.5vw;
  }
  .pg26Content h3{
    width: 80%;
    margin-top: 3vw;
    color:#86868B;
    font-size: 1.3vw;
    line-height: 2vw;
  }
  .pg26Content span{
    color: white;
  }
  .page27,.page28{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 140vh;
    background-color: black;
  }
  .page27 img{
    position: absolute;
    margin-bottom: 5vw;
    width: 63vw;
    height: 33vw;
  }
  .page28 img{
    position: absolute;
    margin-bottom: 5vw;
    width: 67vw;
    height: 33vw;
  }
  .pg27Content {
    position: absolute;
    bottom: 0%;
    width: 50%;
    text-align: center;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }
  .pg27Content h1{
    color: white;
    font-size: 2vw;
  }
  .pg27Content h3{
    width: 80%;
    margin-top: 2vw;
    color:#86868B;
    font-size: 1.3vw;
    line-height: 2vw;
    /* background-color: yellow; */
  }
  .pg27Content span{
    color: white;
  }
  .page29{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150vh;
    background-color: black;
  }
  .page29 img {
    opacity: 80%;
  }
  .page29 button{
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0.7vw 2vw;
    margin-top: 2vw;
  }
  .page29 button h2{
    font-size: 1.5vw;
    color: black;
  }
  .page29 h2 span{
    color: black;
    font-size: 1.2vw;
  }




@media (width <= 600px) {
    nav{
        height: 15vw;
        padding-top:1vw ;
    }
    nav .navin img{
        height: 4.1vw;
        width: 4.1vw;
        background-color: red;
    }
    nav .nav-icons{
        width: 20vw;
        height: 100%;
        font-size: 3vw;
        /* background-color: red; */
    }
    nav .nav-icons h4:last-child{
        display: block;
    }
    nav .navin{
        width: 100%;
    }
    nav .navp1{
        height: 36%;
        padding: 0 3vw;
    }
    nav .navp2{
        height: 64%;
        padding: 0 3vw;
    }
    nav .navp2 h3{
        font-size: 18px;
    }
    nav h5{
        display: none;
    }
    nav .navp2 button{
        padding: 4px 9px;
        font-size: 12px;
    }
    #videoContainer1{
        width: 400%;
    }
    .h1 h1{
        font-size: 4vw;
    }
    .pg6Content{
        width: 100%;
        height: 40vw;
    }
    .pg6imgdiv{
        width: 100%;
        height: 55vw;
    }
    .pg6imgdiv img{
        width: 80%;
        height: 80%;
        z-index: 10;
    }
    .page6in{
        height: auto;
        padding:5vw 0;
        overflow: hidden;
    }
    .pg6btn{
        border: 1px solid black;
    }
    .pg6btn h2{
        font-size: 2vw;
        font-weight: 600;
    }
    .staticpgContent{
        height: 65vw;
    }
    .staticpgContentin{
        flex-direction: column;
    }
    .staticpgContentinp1{
        width: 100%;
        height: auto;
        justify-content: flex-start;
    }
    .staticpgContentinp1 h1{
        width: 100%;
        font-size: 3.3vw;
    }
    .staticpgContentinp2{
        position: relative;
        padding: 3vw 0;
        width: 100%;
    }
    .staticpgContentinp2 p{
        font-size: 3vw;
    }
    .staticpgContentinp2 button{
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        padding: 2vw 2.5vw;
        bottom: 1%;
        margin-top: 2vw;
    }
    .orangebtn h2{
      font-size: 2.5vw;
      font-weight:300;
      white-space: nowrap;
    }
    .orangebtn h2 i{
        font-size: 2.5vw;
    }
    .pg11Content{
        padding-top:20vw ;
    }
    .pg11Content h3{
        font-size: 3.5vw;
    }
    .pg11Content h1{
        font-size: 8vw;
    }
    .pg11Content p{
        width: 75%;
        line-height: 2.5vw;
        font-size: 2vw;
    }
    #pg12img{
     scale: 0.8;
    }
    .canvasbgpgs h3{
        font-size: 1.5vw;
    }
    .pg19inp1{
      flex-direction: column;
    }
    .pg19inp1a{
      height: 50%;
      width: 90%;
      margin-top: 6vw;
    }
    .pg19inp1b{
     margin-top: 6vw;
     height: 50%;
      width: 90%;
    }
    .pg19inp2{
        margin-top: 4vw;
      }

    .pg20inp1{
        height: 60vw;
    }
    .pg20inp1 h3{
        width: 73%;
        font-size: 2.7vw;
        line-height: 3vw;
    }
    .pg20inp2 img{
        margin-top: 25vw;
        padding-bottom: 0;
        width: 90%;
        height: 75vw;
    }
    .page20 button{
        bottom: -15%;
    }
    .page22imgdiv{
      flex-direction: column;
    }
    .page22img1{
        height: 50vh;
        width: 90%;
        margin-top: 6vw;
    }
    .page22img2{
        height: 50vh;
        width: 90%;
        margin-top: 6vw;
    }
    .page22 .staticpgContent{
        height: 55vw;
    }
    .page27{
        height: 110vh;
    }
    .pg27Content{
        width: 60%;
        height: 20vw;
        /* background-color: red; */
    }
    .pg27Content h1{
        font-size: 3vw;
    }
    .pg27Content h3{
        width: 90%;
        font-size: 2vw;
        line-height: 2.5vw;
    }
    .page28{
        height: 120vh;
    }
    .page28{
        height: 120vh;
    }
    .page28 img{
        width: 80vw;
        height: 42vw;
    }
    .page29{
        height: 110vh;
    }
    .page29 img{
        width: 80vw;
        height: 60vw;
    }
    #pg29Content{
        height: 25vw;
        width: 70%;
    }
    #pg29Content h1{
        font-size: 3vw;
        margin-bottom: 1.5vw;
    }
    #pg29Content h3{
        font-size: 2vw;
        margin-bottom: 1.5vw;
    }
    #pg29Content h2{
        font-size: 2.5vw;
    }
    #pg29Content span{
        font-size: 1.6vw;
    }
}